.global, .skate-park-list
  background-blend-mode: soft-light
  background-size: cover
  background-position: center
  height: 100vh
  &__content
    &__card
      &__title
        font-size: 2rem
        background-color: rgba(0, 0, 0, 0.5)
        outline: 1px solid grey
        font-weight: bold
        margin-bottom: 1rem
      &__subtitle
        text-shadow: 2px 2px 2px black
        font-size: 1.5rem
        color: white
        opacity: 1
        margin-bottom: 1rem  
  &__nav
    height: 100vh

.global
  background-image: url('https://images5.alphacoders.com/135/thumb-1920-1351029.png')

.skate-park-list
  background-image: url('https://i.ytimg.com/vi/Flii4YJEjCc/maxresdefault.jpg')

.global-form
  background-image: url('https://static.ndmais.com.br/2013/03/06-03-2013-04-03-08-apaixonado-por-skate-chorao-deixou-legado-no-esporte.jpg')
  background-blend-mode: darken
  background-color: rgba(0, 0, 0, 0.8)
  background-size: cover
  background-position: center
  height: 100vh
  &__content
    &__card
      &__title
        font-size: 2rem
        background-color: rgba(0, 0, 0, 0.5)
        outline: 1px solid grey
        font-weight: bold
        margin-bottom: 1rem
      &__subtitle
        text-shadow: 2px 2px 2px black
        font-size: 1.5rem
        color: white
        opacity: 1
        margin-bottom: 1rem